Expense Tracker Pro - Multi Channel.json
{
  "name": "Expense Tracker Pro - Multi Channel",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "677bda7c-ff91-4e8d-ad84-f82810a8aba1",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -768,
        13392
      ],
      "webhookId": "wa-webhook-id",
      "disabled": true
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "userIds": "frisrsyd"
        }
      },
      "id": "c3e06a0a-250e-4b25-9c4f-dd5b80a463e8",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -768,
        13584
      ],
      "webhookId": "83f1ddf4-bc0c-4735-964c-2f2260f3db64",
      "credentials": {
        "telegramApi": {
          "id": "ZbU40jBmvjhBVd3d",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "expense-tracker",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9b845991-3d2a-4ae4-857e-d877aab6ad2c",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -768,
        13776
      ],
      "webhookId": "webhook-expense-tracker"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst sessionId = input.sessionId || input.chatId || 'chat-' + Date.now();\nconst messageText = input.chatInput || input.message || input.text || '';\n\nreturn [{\n  json: {\n    userId: sessionId,\n    userName: 'Chat User',\n    messageText,\n    mediaUrl: null,\n    mediaType: 'text',\n    channel: 'chat',\n    sessionId,\n    rawPayload: input\n  }\n}];"
      },
      "id": "94ab9907-efc0-4d2f-b0f7-bdb112dca433",
      "name": "Normalize Chat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        13968
      ]
    },
    {
      "parameters": {
        "jsCode": "const entry = $input.first().json;\nconst value = entry.entry?.[0]?.changes?.[0]?.value || {};\nconst contacts = value.contacts || [];\nconst messages = value.messages || [];\n\nif (!messages.length) return [];\n\nconst msg = messages[0];\nconst contact = contacts[0] || {};\n\nlet mediaUrl = null;\nlet mediaType = 'text';\nlet messageText = null;\n\nif (msg.type === 'text') {\n  messageText = msg.text?.body || '';\n} else if (msg.type === 'image') {\n  mediaType = 'image';\n  mediaUrl = msg.image?.id || null;\n  messageText = msg.image?.caption || '';\n} else if (msg.type === 'document') {\n  mediaType = 'pdf';\n  mediaUrl = msg.document?.id || null;\n  messageText = msg.document?.caption || '';\n}\n\nreturn [{\n  json: {\n    userId: contact.wa_id || msg.from || '',\n    userName: contact.profile?.name || '',\n    messageText,\n    mediaUrl,\n    mediaType,\n    channel: 'whatsapp',\n    rawPayload: entry\n  }\n}];"
      },
      "id": "59257619-d610-403a-8258-6f369202a625",
      "name": "Normalize WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        13392
      ]
    },
    {
      "parameters": {
        "jsCode": "const update = $input.first().json;\nconst msg = update.message || {};\nconst chat = msg.chat || {};\nconst from = msg.from || {};\n\nlet mediaUrl = null;\nlet mediaType = 'text';\nlet messageText = msg.text || '';\n\nif (msg.photo && msg.photo.length > 0) {\n  mediaType = 'image';\n  mediaUrl = msg.photo[msg.photo.length - 1].file_id;\n  messageText = msg.caption || '';\n} else if (msg.document) {\n  const mime = msg.document.mime_type || '';\n  mediaType = mime.includes('pdf') ? 'pdf' : 'image';\n  mediaUrl = msg.document.file_id;\n  messageText = msg.caption || '';\n}\n\nreturn [{\n  json: {\n    userId: String(chat.id || ''),\n    userName: [from.first_name, from.last_name].filter(Boolean).join(' '),\n    messageText,\n    mediaUrl,\n    mediaType,\n    channel: 'telegram',\n    rawPayload: update\n  }\n}];"
      },
      "id": "1cc86b1c-fe83-48cc-9583-1ca987bc0f83",
      "name": "Normalize Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        13584
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nreturn [{\n  json: {\n    userId: body.userId || body.user_id || '',\n    userName: body.userName || body.user_name || '',\n    messageText: body.text || body.message || '',\n    mediaUrl: body.mediaUrl || body.media_url || null,\n    mediaType: body.mediaType || body.media_type || 'text',\n    channel: 'webhook',\n    rawPayload: body\n  }\n}];"
      },
      "id": "b3b18056-36fe-49fd-943d-58149f27444b",
      "name": "Normalize Webhook",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -544,
        13776
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.MASTER_REGISTRY_ID || 'YOUR_MASTER_REGISTRY_SPREADSHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "Profiles"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=userId",
              "lookupValue": "={{ $json.userId }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d7967303-9869-4411-9eca-23424560fe9a",
      "name": "Lookup User Profile",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -320,
        13584
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst lookupResults = $('Lookup User Profile').all() || [];\n\n// Safely collect normalized message from whichever trigger actually ran\nlet normalized = [];\nconst normalizers = ['Normalize Telegram', 'Normalize WhatsApp', 'Normalize Webhook', 'Normalize Chat'];\nfor (const name of normalizers) {\n  try {\n    const items = $(name).all();\n    if (items && items.length > 0) normalized = normalized.concat(items);\n  } catch (e) {\n    // This channel's normalizer did not run — skip silently\n  }\n}\n\nconst msg = normalized.find(n => n.json.userId || n.json.id || n.json.profileId || n.json.chatId || n.json.phone) || { json: {} };\n\nfunction getId(item) {\n  if (!item || !item.json) return undefined;\n  const candidates = [\n    item.json.userId,\n    item.json.user_id,\n    item.json.id,\n    item.json.profileId,\n    item.json.profile_id,\n    item.json.telegramId,\n    item.json.chatId,\n    item.json.phone,\n    item.json.from,\n    (item.json.payload && item.json.payload.userId)\n  ];\n  for (const c of candidates) {\n    if (c !== undefined && c !== null && c !== '') return String(c).trim();\n  }\n  return undefined;\n}\n\nconst msgId = getId(msg);\n\nconst userRow = lookupResults.find(r => {\n  const rid = getId(r);\n  return rid && msgId && rid === msgId;\n});\n\nif (!userRow) {\n  return [{ json: { ...msg.json, isNew: true, isAwaiting: false, profileData: null } }];\n}\n\nif (userRow.json.state === 'awaitingProfileName') {\n  return [{ json: { ...msg.json, isNew: false, isAwaiting: true, profileData: userRow.json } }];\n}\n\nreturn [{ json: { ...msg.json, isNew: false, isAwaiting: false, profileData: userRow.json } }];"
      },
      "id": "b714c3dc-8132-440c-aca1-d202181e0065",
      "name": "Check Awaiting Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        13040
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "905ef719-d779-4564-b553-13d1381e046b",
                    "leftValue": "={{ $json.profileData.spreadsheetId }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isNew }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    },
                    "id": "8f0f3b0f-7d2a-4932-92ed-0bd82045de8c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isAwaiting }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    },
                    "id": "4b6fdfdc-d4a1-42b1-81d5-ddc38c0f7e21"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1ab49681-002d-4372-ab7d-9f5d766f1452",
                    "leftValue": "={{ $json.isAwaiting }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "657e862a-14a9-405e-a10f-634fa9d5a434",
      "name": "Route User State",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        128,
        13008
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\nreturn [{\n  json: {\n    ...msg,\n    replyText: '👋 Welcome! I\\'m your expense tracker bot. What name would you like for your profile?',\n    action: 'askProfileName',\n    state: 'awaitingProfileName'\n  }\n}];"
      },
      "id": "a2b753cc-ca29-40aa-8c71-21d62d5b048c",
      "name": "Ask Profile Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        13136
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sheets.googleapis.com/v4/spreadsheets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"title\": \"Expense Tracker - {{ $json.messageText }}\"\n  },\n  \"sheets\": [\n    { \"properties\": { \"title\": \"Dashboard\", \"index\": 0 } },\n    { \"properties\": { \"title\": \"Recurring\", \"index\": 1 } },\n    { \"properties\": { \"title\": \"{{ $now.format('MMM-yyyy') }}\", \"index\": 2 } }\n  ]\n}",
        "options": {}
      },
      "id": "26ea3e4f-1a96-4c27-ad70-755f34fa1681",
      "name": "Create User Spreadsheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2720,
        13664
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const spreadsheetId = $input.first().json.spreadsheetId;\nconst profileName = $('Route User State').first().json.messageText;\nconst categories = [\n  'Makanan & Minuman', 'Transportasi', 'Tagihan', 'Hiburan',\n  'Belanja', 'Kesehatan', 'Langganan', 'Lain-lain'\n];\n\nconst values = [['Category', 'Budget', 'Spent This Month', 'Remaining']];\nlet rowNumber = 2;\nfor (const cat of categories) {\n  values.push([\n    cat,\n    0,\n    0,\n    `=B${rowNumber}-C${rowNumber}`,\n  ]);\n  rowNumber++;\n}\n\nreturn [{\n  json: {\n    spreadsheetId,\n    profileName,\n    dashboardValues: JSON.stringify({ values })\n  }\n}];"
      },
      "id": "42ca5b42-412b-49b8-b873-c886e51e73a3",
      "name": "Setup Dashboard Headers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        13664
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/Dashboard!A1:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.dashboardValues }}",
        "options": {}
      },
      "id": "c8b99c2e-be7a-40f5-bb96-4d54d8cb7c1f",
      "name": "Write Dashboard Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3520,
        13376
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/{{ encodeURIComponent($now.format('MMM-yyyy')) }}!A1:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"values\": [\n    [\"Date\", \"Description\", \"Category\", \"Amount\", \"Currency\", \"Split With\", \"Recurring\", \"Notes\"]\n  ]\n}",
        "options": {}
      },
      "id": "e2e51f4e-807e-497b-bdae-d736cd0ad454",
      "name": "Setup Month Sheet Headers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3520,
        13568
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Route User State').first().json;\nconst profileName = msg.messageText;\nreturn [{\n  json: {\n    ...msg,\n    replyText: `✅ Profile \"${profileName}\" created! Your expense tracker spreadsheet is ready.\\n\\nYou can now:\\n• Send expenses: \"Lunch 45k\"\\n• Check budget: \"Check my budget\"\\n• Get reports: \"Monthly report\"\\n• Set budget: \"Set food budget 500k\"\\n\\nSend any expense to get started!`,\n    action: 'registrationComplete'\n  }\n}];"
      },
      "id": "4c02ac08-feb2-4010-9190-f897d9c8e0d6",
      "name": "Send Registration Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4192,
        13472
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-spreadsheetId",
              "name": "spreadsheetId",
              "value": "={{ $json.profileData.spreadsheetId }}",
              "type": "string"
            },
            {
              "id": "set-profileName",
              "name": "profileName",
              "value": "={{ $json.profileData.profileName }}",
              "type": "string"
            },
            {
              "id": "set-language",
              "name": "language",
              "value": "={{ $json.profileData.language }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "571afdee-be03-4c8d-88c8-02aec152aec2",
      "name": "Merge User Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        12112
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mediaType }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a938f093-65e5-4859-b253-968420a6350b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.mediaType }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8c6199cb-a40a-4063-a526-1633791ca386"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "71d4ded6-ca96-4fa3-a182-c67f6237af30",
                    "leftValue": "={{ $json.mediaType }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "af52ee22-fc4d-4526-afaa-418dbeaac12b",
      "name": "Detect Media Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        576,
        12096
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.rawPayload.message.photo[3].file_id }}",
        "additionalFields": {}
      },
      "id": "f9d933ff-9d10-4715-a978-93f255e29088",
      "name": "Get File from Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        12960
      ],
      "webhookId": "e251f7a0-3064-4b3c-9150-6f7bf09076f5",
      "credentials": {
        "telegramApi": {
          "id": "ZbU40jBmvjhBVd3d",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = {};\ntry { const mu = $('Merge User Context').first(); if (mu) Object.assign(ctx, mu.json); } catch(e) {}\n\nconst inp       = $input.first().json;\nconst filePath  = inp.file_path || (inp.result && inp.result.file_path) || '';\nconst token     = $env.TELEGRAM_BOT_TOKEN || '';\nconst fileUrl   = filePath ? `https://api.telegram.org/file/bot${token}/${filePath}` : '';\n\nreturn [{ json: { ...ctx, telegramFileUrl: fileUrl, rawFilePath: filePath } }];"
      },
      "id": "d1f7f4ef-fb60-4454-80f9-71fafa3de38b",
      "name": "Build Telegram File URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        12960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "groqApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"meta-llama/llama-4-scout-17b-16e-instruct\",\n  \"temperature\": 1,\n  \"max_completion_tokens\": 1024,\n  \"top_p\": 1,\n  \"stream\": false,\n  \"stop\": null,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expense tracker assistant. Extract all expense information from receipt/struk/invoice images and return ONLY valid JSON (no markdown, no backticks, no explanation). Schema: {\\\"intent\\\":\\\"record_expense\\\",\\\"amount\\\":number,\\\"description\\\":\\\"string\\\",\\\"category\\\":\\\"string\\\",\\\"date\\\":\\\"YYYY-MM-DD\\\",\\\"currency\\\":\\\"IDR\\\",\\\"recurring\\\":false,\\\"splitWith\\\":null,\\\"notes\\\":\\\"\\\",\\\"replyText\\\":\\\"confirmation in user language\\\"}. Categories (use exactly): Makanan & Minuman, Transportasi, Tagihan, Hiburan, Belanja, Kesehatan, Langganan, Lain-lain. Amount in base units (no abbreviations). If image is not a receipt, return {\\\"intent\\\":\\\"help\\\",\\\"replyText\\\":\\\"explanation in user language\\\"}.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Extract all expense details from this receipt or struk image. Return structured JSON only.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"{{ $json.telegramFileUrl }}\"\n          }\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "id": "88933aeb-04ad-4c5c-a2cf-124aeb97e14c",
      "name": "Groq Vision + Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        12960
      ],
      "credentials": {
        "groqApi": {
          "id": "m5NPNO02GxojmMO8",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = {};\ntry { const mu = $('Merge User Context').first(); if (mu) Object.assign(ctx, mu.json); } catch(e) {}\nconst res = $input.first().json;\nconst raw = res.choices && res.choices[0] ? res.choices[0].message.content : JSON.stringify(res);\n// Normalize to 'output' field — expected by Parse AI Response\nreturn [{ json: { ...ctx, output: raw } }];"
      },
      "id": "d02b1753-b5fd-424a-a676-0cb4c5761873",
      "name": "Extract Groq Vision Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        12960
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $env.MODEL_PROVIDER }}",
                    "rightValue": "openai",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9ce34b30-5119-42d2-a663-8b12a6a3b36a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $env.MODEL_PROVIDER }}",
                    "rightValue": "ollama",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "95c4bbac-930d-4524-8f60-51de6f5b14b4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $env.MODEL_PROVIDER }}",
                    "rightValue": "groq",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "db639ea9-997a-4695-af89-6266b4669b46"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8bb54472-dfb6-4fb1-b802-10006a4b6d1a",
                    "leftValue": "={{ $env.MODEL_PROVIDER }}",
                    "rightValue": "gemini",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "76eebf2c-15f4-4996-b5c4-2d5c53d17b12",
      "name": "Select Model Provider",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1248,
        11776
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messageText }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a multilingual expense tracking assistant. Detect the user's language and ALWAYS respond in that language.\n\nAnalyze the user message and return ONLY valid JSON (no markdown, no backticks, no explanation). Use one of these schemas:\n\nINTENTS:\n1. {\"intent\":\"record_expense\",\"date\":\"YYYY-MM-DD\",\"description\":\"string\",\"amount\":number,\"currency\":\"IDR\",\"category\":\"string\",\"splitWith\":null,\"recurring\":null,\"notes\":\"\",\"replyText\":\"confirmation message\"}\n2. {\"intent\":\"check_budget\",\"category\":null,\"replyText\":\"message asking to check budget\"}\n3. {\"intent\":\"set_budget\",\"category\":\"string\",\"amount\":number,\"currency\":\"IDR\",\"period\":\"monthly\",\"replyText\":\"confirmation message\"}\n4. {\"intent\":\"get_report\",\"period\":\"week|month|year\",\"replyText\":\"message asking for report\"}\n5. {\"intent\":\"split_expense\",\"date\":\"YYYY-MM-DD\",\"description\":\"string\",\"amount\":number,\"currency\":\"IDR\",\"category\":\"string\",\"splitWith\":\"profileName\",\"splitType\":\"equal\",\"replyText\":\"confirmation message\"}\n6. {\"intent\":\"list_recurring\",\"replyText\":\"message\"}\n7. {\"intent\":\"cancel_recurring\",\"description\":\"string\",\"replyText\":\"message\"}\n8. {\"intent\":\"merge_report\",\"profiles\":[],\"period\":\"month\",\"replyText\":\"message\"}\n9. {\"intent\":\"help\",\"replyText\":\"help text in user language\"}\n\n\n10. {\"intent\":\"record_income\",\"amount\":number,\"description\":\"string\",\"source\":\"salary|freelance|investment|business|other\",\"date\":\"YYYY-MM-DD\",\"currency\":\"IDR\",\"recurring\":false,\"notes\":\"\",\"replyText\":\"confirmation message\"}\n11. {\"intent\":\"check_balance\",\"period\":\"this_month|last_month|this_year\",\"replyText\":\"message\"}\nCATEGORIES (use exactly): Makanan & Minuman, Transportasi, Tagihan, Hiburan, Belanja, Kesehatan, Langganan, Lain-lain\n\nRULES:\n- \"k\" suffix = x1000 (45k = 45000), \"rb\" suffix = x1000 (25rb = 25000)\n- \"jt\" or \"juta\" = x1000000 (1.5jt = 1500000)\n- Default currency: IDR\n- If no date specified, use today's date\n- Auto-detect category from context (food words -> Makanan & Minuman, transport -> Transportasi, etc.)\n- For splits: parse \"@ProfileName\" or \"split with ProfileName\" or \"bagi dengan ProfileName\"\n- For recurring: detect \"berulang\", \"recurring\", \"tiap bulan\", \"every month\"\n\n- For income: \"terima gaji\", \"dapat freelance\", \"pendapatan\", \"income\", \"masuk uang\", \"dividen\", \"bayaran\" → use record_income intent, source: salary=gaji, freelance=freelance/proyek, investment=investasi/dividen/saham, business=bisnis/jualan\n- For balance: \"saldo\", \"net balance\", \"cashflow\", \"income vs pengeluaran\", \"berapa sisa\" → use check_balance intent\n- ALWAYS include replyText with a human-friendly confirmation in the user's language\n- Return ONLY the JSON object, nothing else"
        }
      },
      "id": "5158698e-9c83-44f7-80a4-f15638ee0361",
      "name": "AI Agent (OpenAI)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1472,
        11136
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messageText }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a multilingual expense tracking assistant. Detect the user's language and ALWAYS respond in that language.\n\nAnalyze the user message and return ONLY valid JSON (no markdown, no backticks, no explanation). Use one of these schemas:\n\nINTENTS:\n1. {\"intent\":\"record_expense\",\"date\":\"YYYY-MM-DD\",\"description\":\"string\",\"amount\":number,\"currency\":\"IDR\",\"category\":\"string\",\"splitWith\":null,\"recurring\":null,\"notes\":\"\",\"replyText\":\"confirmation message\"}\n2. {\"intent\":\"check_budget\",\"category\":null,\"replyText\":\"message asking to check budget\"}\n3. {\"intent\":\"set_budget\",\"category\":\"string\",\"amount\":number,\"currency\":\"IDR\",\"period\":\"monthly\",\"replyText\":\"confirmation message\"}\n4. {\"intent\":\"get_report\",\"period\":\"week|month|year\",\"replyText\":\"message asking for report\"}\n5. {\"intent\":\"split_expense\",\"date\":\"YYYY-MM-DD\",\"description\":\"string\",\"amount\":number,\"currency\":\"IDR\",\"category\":\"string\",\"splitWith\":\"profileName\",\"splitType\":\"equal\",\"replyText\":\"confirmation message\"}\n6. {\"intent\":\"list_recurring\",\"replyText\":\"message\"}\n7. {\"intent\":\"cancel_recurring\",\"description\":\"string\",\"replyText\":\"message\"}\n8. {\"intent\":\"merge_report\",\"profiles\":[],\"period\":\"month\",\"replyText\":\"message\"}\n9. {\"intent\":\"help\",\"replyText\":\"help text in user language\"}\n\n\n10. {\"intent\":\"record_income\",\"amount\":number,\"description\":\"string\",\"source\":\"salary|freelance|investment|business|other\",\"date\":\"YYYY-MM-DD\",\"currency\":\"IDR\",\"recurring\":false,\"notes\":\"\",\"replyText\":\"confirmation message\"}\n11. {\"intent\":\"check_balance\",\"period\":\"this_month|last_month|this_year\",\"replyText\":\"message\"}\nCATEGORIES (use exactly): Makanan & Minuman, Transportasi, Tagihan, Hiburan, Belanja, Kesehatan, Langganan, Lain-lain\n\nRULES:\n- \"k\" suffix = x1000 (45k = 45000), \"rb\" suffix = x1000 (25rb = 25000)\n- \"jt\" or \"juta\" = x1000000 (1.5jt = 1500000)\n- Default currency: IDR\n- If no date specified, use today's date\n- Auto-detect category from context (food words -> Makanan & Minuman, transport -> Transportasi, etc.)\n- For splits: parse \"@ProfileName\" or \"split with ProfileName\" or \"bagi dengan ProfileName\"\n- For recurring: detect \"berulang\", \"recurring\", \"tiap bulan\", \"every month\"\n\n- For income: \"terima gaji\", \"dapat freelance\", \"pendapatan\", \"income\", \"masuk uang\", \"dividen\", \"bayaran\" → use record_income intent, source: salary=gaji, freelance=freelance/proyek, investment=investasi/dividen/saham, business=bisnis/jualan\n- For balance: \"saldo\", \"net balance\", \"cashflow\", \"income vs pengeluaran\", \"berapa sisa\" → use check_balance intent\n- ALWAYS include replyText with a human-friendly confirmation in the user's language\n- Return ONLY the JSON object, nothing else"
        }
      },
      "id": "6bafaf91-cca2-4b38-b426-a0cc963858e7",
      "name": "AI Agent (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1472,
        12560
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messageText }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a multilingual expense tracking assistant. Detect the user's language and ALWAYS respond in that language.\n\nAnalyze the user message and return ONLY valid JSON (no markdown, no backticks, no explanation). Use one of these schemas:\n\nINTENTS:\n1. {\"intent\":\"record_expense\",\"date\":\"YYYY-MM-DD\",\"description\":\"string\",\"amount\":number,\"currency\":\"IDR\",\"category\":\"string\",\"splitWith\":null,\"recurring\":null,\"notes\":\"\",\"replyText\":\"confirmation message\"}\n2. {\"intent\":\"check_budget\",\"category\":null,\"replyText\":\"message asking to check budget\"}\n3. {\"intent\":\"set_budget\",\"category\":\"string\",\"amount\":number,\"currency\":\"IDR\",\"period\":\"monthly\",\"replyText\":\"confirmation message\"}\n4. {\"intent\":\"get_report\",\"period\":\"week|month|year\",\"replyText\":\"message asking for report\"}\n5. {\"intent\":\"split_expense\",\"date\":\"YYYY-MM-DD\",\"description\":\"string\",\"amount\":number,\"currency\":\"IDR\",\"category\":\"string\",\"splitWith\":\"profileName\",\"splitType\":\"equal\",\"replyText\":\"confirmation message\"}\n6. {\"intent\":\"list_recurring\",\"replyText\":\"message\"}\n7. {\"intent\":\"cancel_recurring\",\"description\":\"string\",\"replyText\":\"message\"}\n8. {\"intent\":\"merge_report\",\"profiles\":[],\"period\":\"month\",\"replyText\":\"message\"}\n9. {\"intent\":\"help\",\"replyText\":\"help text in user language\"}\n\n\n10. {\"intent\":\"record_income\",\"amount\":number,\"description\":\"string\",\"source\":\"salary|freelance|investment|business|other\",\"date\":\"YYYY-MM-DD\",\"currency\":\"IDR\",\"recurring\":false,\"notes\":\"\",\"replyText\":\"confirmation message\"}\n11. {\"intent\":\"check_balance\",\"period\":\"this_month|last_month|this_year\",\"replyText\":\"message\"}\nCATEGORIES (use exactly): Makanan & Minuman, Transportasi, Tagihan, Hiburan, Belanja, Kesehatan, Langganan, Lain-lain\n\nRULES:\n- \"k\" suffix = x1000 (45k = 45000), \"rb\" suffix = x1000 (25rb = 25000)\n- \"jt\" or \"juta\" = x1000000 (1.5jt = 1500000)\n- Default currency: IDR\n- If no date specified, use today's date\n- Auto-detect category from context (food words -> Makanan & Minuman, transport -> Transportasi, etc.)\n- For splits: parse \"@ProfileName\" or \"split with ProfileName\" or \"bagi dengan ProfileName\"\n- For recurring: detect \"berulang\", \"recurring\", \"tiap bulan\", \"every month\"\n\n- For income: \"terima gaji\", \"dapat freelance\", \"pendapatan\", \"income\", \"masuk uang\", \"dividen\", \"bayaran\" → use record_income intent, source: salary=gaji, freelance=freelance/proyek, investment=investasi/dividen/saham, business=bisnis/jualan\n- For balance: \"saldo\", \"net balance\", \"cashflow\", \"income vs pengeluaran\", \"berapa sisa\" → use check_balance intent\n- ALWAYS include replyText with a human-friendly confirmation in the user's language\n- Return ONLY the JSON object, nothing else"
        }
      },
      "id": "084d7693-0a1e-443c-872b-79659ed71f90",
      "name": "AI Agent (Ollama)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1472,
        11536
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "maxTokens": 2048,
          "temperature": 0.2
        }
      },
      "id": "0d945111-f10c-468c-afba-8c0d95a2f3f3",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1488,
        11360
      ],
      "disabled": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "maxOutputTokens": 2048,
          "temperature": 0.2
        }
      },
      "id": "718288fb-3f5a-4613-81b8-afd0a171e8c7",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1552,
        12784
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "CuVv1sBp2lTV5WXl",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3",
        "options": {}
      },
      "id": "f69fb22d-2d3c-477c-b07f-3707da33ad9b",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1552,
        11760
      ],
      "disabled": true
    },
    {
      "parameters": {
        "model": "groq/compound",
        "options": {
          "maxTokensToSample": 2048,
          "temperature": 0.2
        }
      },
      "id": "2a1a5faa-1607-4c2d-b1b1-a9c485ecd483",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        3152,
        11712
      ],
      "credentials": {
        "groqApi": {
          "id": "m5NPNO02GxojmMO8",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual"
      },
      "id": "b410f1ee-7b03-4df1-8c92-600cf277a643",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1616,
        11360
      ]
    },
    {
      "parameters": {
        "jsCode": "// Provider-agnostic: try all 4 AI agent sources\nlet aiItem = null;\nconst agents = ['AI Agent (Groq)', 'AI Agent (OpenAI)', 'AI Agent (Gemini)', 'AI Agent (Ollama)', 'Extract Groq Vision Output'];\nfor (const agentName of agents) {\n  try {\n    const items = $(agentName).all();\n    if (items && items.length > 0) {\n      aiItem = items[0].json;\n      break;\n    }\n  } catch (e) { /* skip unavailable agent */ }\n}\nif (!aiItem) {\n  try { aiItem = $input.first().json; } catch(e) { aiItem = {}; }\n}\n\n// Get original context (spreadsheetId, channel, userId, profileName, etc.)\nlet originalData = {};\ntry { originalData = $('Merge User Context').first().json; } catch(e) {}\n\n// Extract the AI output text\nconst candidate = aiItem.output ?? aiItem.text ?? aiItem.response ?? aiItem.result ?? '';\n\n// Try to parse JSON from the AI output\nlet parsed = null;\nif (typeof candidate === 'string') {\n  const match = candidate.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try { parsed = JSON.parse(match[0]); } catch(e) { parsed = null; }\n  }\n  if (!parsed) {\n    // Fallback: AI returned plain text instead of JSON\n    parsed = { intent: 'help', replyText: candidate.trim() };\n  }\n} else if (typeof candidate === 'object' && candidate !== null) {\n  parsed = candidate;\n} else {\n  parsed = { intent: 'help', replyText: String(candidate || 'No response from AI') };\n}\n\n// Ensure parsed is an object\nif (!parsed || typeof parsed !== 'object') {\n  parsed = { intent: 'help', replyText: String(parsed || '') };\n}\n\nconst parsedIntent = parsed.intent || 'help';\nconst replyText = parsed.replyText || parsed.text || parsed.response || '';\n\n// Merge original context + parsed AI output\n// originalData carries: spreadsheetId, channel, userId, userName, profileName, messageText, etc.\n// parsed carries: intent, amount, category, date, description, replyText, etc.\nreturn [{\n  json: {\n    ...originalData,\n    ...parsed,\n    parsedIntent,\n    replyText\n  }\n}];"
      },
      "id": "b4489d1d-9b2f-4fb9-969d-60034fe4d7b0",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        11904
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.parsedIntent }}",
                    "rightValue": "record_expense",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f7d05d53-4de8-4d55-a5ff-fa1482d58bc6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.parsedIntent }}",
                    "rightValue": "record_income",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "170d6f09-6a98-4abe-b038-eced7c3d3660"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.parsedIntent }}",
                    "rightValue": "check_balance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c6e8b3a7-7eca-48ec-aaec-abe14b5e334d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.parsedIntent }}",
                    "rightValue": "check_budget",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9df2b13f-3285-4037-b93c-8a2500881cf0"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.parsedIntent }}",
                    "rightValue": "set_budget",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "44e58e0a-0361-4930-acca-246506538b35"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.parsedIntent }}",
                    "rightValue": "get_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "60e36bdb-d02d-4845-90e3-f55ce69911bb"
                  },
                  {
                    "leftValue": "={{ $json.parsedIntent }}",
                    "rightValue": "merge_report",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f903528e-b1bf-4998-ac1f-288780cce51b"
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.parsedIntent }}",
                    "rightValue": "split_expense",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8355601a-8801-4014-b6ca-6c25dbc8f682"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.parsedIntent }}",
                    "rightValue": "list_recurring",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4c162784-088d-4452-bdb9-722ac2494a60"
                  },
                  {
                    "leftValue": "={{ $json.parsedIntent }}",
                    "rightValue": "cancel_recurring",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "86b4d08e-c66a-433c-921b-5520b05b85b5"
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "092b5852-79e7-4119-8f8a-8cf1a927fe77",
                    "leftValue": "={{ $json.parsedIntent }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bb1da59a-721a-4ee2-a8be-eb9152c99c68",
                    "leftValue": "={{ $json.parsedIntent }}",
                    "rightValue": "=[\"help\", \"cancel_recurring\",\"list_recurring\", \"split_expense\", \"merge_report\", \"get_report\" ]",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b6415345-5042-4b39-87df-c17babe1b5f4",
      "name": "Route by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2048,
        11776
      ]
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}?fields=sheets.properties.title",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "de1c428b-6e65-4ef1-a595-d0da9fd3692f",
      "name": "Ensure Month Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        11056
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst sheets = (response.sheets || []).map(s => s.properties.title);\nconst now = new Date();\nconst monthNames = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\nconst monthSheet = monthNames[now.getMonth()] + '-' + now.getFullYear();\nconst originalData = $('Route by Intent').first().json;\n\nreturn [{\n  json: {\n    ...originalData,\n    monthSheet,\n    sheetExists: sheets.includes(monthSheet),\n    spreadsheetId: originalData.spreadsheetId\n  }\n}];"
      },
      "id": "b8aea782-59cb-41f8-b28c-15286467ab12",
      "name": "Check and Create Month Sheet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        11056
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.sheetExists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "id": "7d8c696a-4fbf-40fa-b41e-9cc035939da0"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7e135f3b-b687-4866-a007-1c851d13a0c6",
      "name": "Create Month Sheet If Needed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2720,
        11056
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"addSheet\": {\n        \"properties\": {\n          \"title\": \"{{ $json.monthSheet }}\"\n        }\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "9658421b-a484-4a0d-9cd7-cfe217b79022",
      "name": "Create New Month Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2944,
        10976
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/{{ encodeURIComponent($('Create Month Sheet If Needed').item.json.monthSheet) }}!A1:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"values\": [\n    [\"Date\", \"Description\", \"Category\", \"Amount\", \"Currency\", \"Split With\", \"Recurring\", \"Notes\"]\n  ]\n}",
        "options": {}
      },
      "id": "30e057fc-7564-4780-a853-bae64fe66432",
      "name": "Add Month Sheet Headers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3232,
        10976
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/{{ encodeURIComponent($json.monthSheet) }}!A2:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"values\": [\n    [\n      {{ JSON.stringify(($json.date || $now.format('yyyy-MM-dd')) + 'T' + $now.format('HH:mm:ss')) }},\n      {{ JSON.stringify($json.description || '') }},\n      {{ JSON.stringify($json.category || '') }},\n      {{ $json.amount || 0 }},\n      {{ JSON.stringify($json.currency || 'IDR') }},\n      {{ JSON.stringify($json.splitWith || '') }},\n      {{ JSON.stringify($json.recurring || '') }},\n      {{ JSON.stringify($json.notes || '') }}\n    ]\n  ]\n}",
        "options": {}
      },
      "id": "4e4c4240-1c80-4d3b-a0cd-75b514028fd7",
      "name": "Record Expense Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3520,
        11056
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const expenseData = $('Create Month Sheet If Needed').first().json;\nconst apiResponse = $input.first().json;\nconst rows = apiResponse.values || [];\nconst category = expenseData.category;\nconst amount = Number(expenseData.amount) || 0;\n\n// rows[0] = header, rows[1..8] = category data\n// Columns: A=Category, B=Budget, C=Spent This Month, D=Remaining\nlet rowNumber = -1;\nlet currentSpent = 0;\nlet budget = 0;\n\nfor (let i = 1; i < rows.length; i++) {\n  if (rows[i][0] === category) {\n    rowNumber = i + 1; // +1 for 1-indexed sheets\n    budget = Number(rows[i][1]) || 0;\n    currentSpent = Number(rows[i][2]) || 0;\n    break;\n  }\n}\n\nif (rowNumber === -1) rowNumber = 9; // default to last row (Lain-lain)\n\nconst newSpent = currentSpent + amount;\nconst remaining = budget - newSpent;\n\nreturn [{\n  json: {\n    spreadsheetId: expenseData.spreadsheetId,\n    channel: expenseData.channel,\n    userId: expenseData.userId,\n    profileName: expenseData.profileName,\n    sessionId: expenseData.sessionId,\n    category: category,\n    dashboardRow: rowNumber,\n    newSpent: newSpent,\n    remaining: remaining,\n    replyText: expenseData.replyText || `✅ Recorded: ${expenseData.description} ${amount.toLocaleString()} (${category})`\n  }\n}];"
      },
      "id": "561af9f7-53d1-45e1-84d6-9f0f585a8e59",
      "name": "Update Dashboard Spent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3968,
        11056
      ]
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/Dashboard?majorDimension=ROWS",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "e2fb621c-b9f6-4517-a8b7-2bb223543576",
      "name": "Read Dashboard After Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3744,
        11056
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/Dashboard!C{{ $json.dashboardRow }}:D{{ $json.dashboardRow }}?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"values\": [[ {{ $json.newSpent }}, {{ $json.remaining }} ]]\n}",
        "options": {}
      },
      "id": "83331164-2739-487d-9cf8-4db66a6bd5ec",
      "name": "Write Dashboard Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4192,
        11056
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/Dashboard?majorDimension=ROWS",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "dda413a3-e233-42fd-8003-5b6d7f6a19fd",
      "name": "Read Budget Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        11520
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const apiResponse = $input.first().json;\nconst allRows = apiResponse.values || [];\nconst originalData = $('Route by Intent').first().json;\nconst category = originalData.category;\n\n// allRows[0] = header, allRows[1..8] = data\n// Columns: A=Category, B=Budget, C=Spent This Month, D=Remaining\nlet lines = ['📊 Budget Status:\\n'];\n\nfor (let i = 1; i < allRows.length; i++) {\n  const row = allRows[i];\n  const cat = row[0] || '';\n  if (category && cat !== category) continue;\n  const budget = Number(row[1]) || 0;\n  const spent = Number(row[2]) || 0;\n  const remaining = budget - spent;\n  const status = budget > 0 ? (remaining >= 0 ? '✅' : '⚠️') : '—';\n  lines.push(`${status} ${cat}: Spent ${spent.toLocaleString()} / Budget ${budget.toLocaleString()} (Remaining: ${remaining.toLocaleString()})`);\n}\n\nreturn [{\n  json: {\n    ...originalData,\n    replyText: lines.join('\\n')\n  }\n}];"
      },
      "id": "aa3b16be-f57d-4542-91ec-61c502b4f50c",
      "name": "Format Budget Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4192,
        13856
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/Dashboard!B{{ $json.budgetRow }}?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"values\": [[ {{ $json.amount }} ]]\n}",
        "options": {}
      },
      "id": "6af90cc8-c585-4ba6-9748-46c3a6fc88f1",
      "name": "Set Budget Value",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3968,
        11760
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst categories = ['Makanan & Minuman', 'Transportasi', 'Tagihan', 'Hiburan', 'Belanja', 'Kesehatan', 'Langganan', 'Lain-lain'];\nconst idx = categories.indexOf(data.category);\nconst budgetRow = idx >= 0 ? idx + 2 : 9; // row 2-9, default to Lain-lain (row 9)\n\nreturn [{\n  json: {\n    ...data,\n    budgetRow\n  }\n}];"
      },
      "id": "a35eae1f-0e31-4b9f-b2a9-c95690930e9d",
      "name": "Prepare Budget Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3744,
        11760
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst originalData = $('Route by Intent').first().json;\nreturn [{\n  json: {\n    ...originalData,\n    replyText: `✅ Budget set: ${originalData.category} = ${originalData.currency || 'IDR'} ${Number(originalData.amount).toLocaleString()} per ${originalData.period || 'month'}`\n  }\n}];"
      },
      "id": "c4becb49-67d7-4aba-91bc-ed5075efb9f7",
      "name": "Format Budget Set Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4192,
        11760
      ]
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/{{ encodeURIComponent($now.format('MMM-yyyy')) }}?majorDimension=ROWS",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "d8334a25-bfd2-415a-bab3-f12ba796700a",
      "name": "Read Month Data for Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        12416
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const apiResponse = $input.first().json;\nconst allRows = apiResponse.values || [];\nconst originalData = $('Route by Intent').first().json;\n\n// allRows[0] = header [Date, Description, Category, Amount, ...]\n// allRows[1..n] = data rows\nconst byCategory = {};\nlet total = 0;\nlet txCount = 0;\n\nfor (let i = 1; i < allRows.length; i++) {\n  const row = allRows[i];\n  const cat = row[2] || 'Lain-lain'; // Column C = Category\n  const amt = Number(row[3]) || 0;    // Column D = Amount\n  byCategory[cat] = (byCategory[cat] || 0) + amt;\n  total += amt;\n  txCount++;\n}\n\nlet lines = [`📊 Expense Report (${originalData.period || 'This Month'}):\\n`];\nconst sorted = Object.entries(byCategory).sort((a, b) => b[1] - a[1]);\n\nfor (const [cat, amt] of sorted) {\n  const pct = total > 0 ? ((amt / total) * 100).toFixed(1) : 0;\n  lines.push(`• ${cat}: IDR ${amt.toLocaleString()} (${pct}%)`);\n}\n\nif (txCount === 0) {\n  lines.push('No expenses recorded this period.');\n}\n\nlines.push(`\\n💰 Total: IDR ${total.toLocaleString()}`);\nlines.push(`📝 Transactions: ${txCount}`);\n\nreturn [{\n  json: {\n    ...originalData,\n    replyText: lines.join('\\n')\n  }\n}];"
      },
      "id": "1407fe09-b14e-4cd0-9f76-201f80c41d65",
      "name": "Generate Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4192,
        14048
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst splitWith = data.splitWith;\nconst totalAmount = Number(data.amount);\nconst shareAmount = Math.round(totalAmount / 2);\n\nreturn [{\n  json: {\n    ...data,\n    selfAmount: shareAmount,\n    otherAmount: totalAmount - shareAmount,\n    otherProfile: splitWith,\n    replyText: `✅ Split recorded: ${data.description} IDR ${totalAmount.toLocaleString()}\\n• Your share: IDR ${shareAmount.toLocaleString()}\\n• ${splitWith}'s share: IDR ${(totalAmount - shareAmount).toLocaleString()}`\n  }\n}];"
      },
      "id": "baa49ad0-ccb6-41c2-9e45-1c291bc9dea2",
      "name": "Handle Split Expense",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        12704
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.MASTER_REGISTRY_ID || 'YOUR_MASTER_REGISTRY_SPREADSHEET_ID' }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "Profiles"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "profileName",
              "lookupValue": "={{ $json.otherProfile }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b15cec60-4fd1-491b-a4a9-e39a92115659",
      "name": "Lookup Split Target Profile",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3744,
        12704
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst targetRows = $('Lookup Split Target Profile').all();\nconst target = targetRows.find(r => r.json.profileName === data.otherProfile);\n\nif (!target) {\n  return [{\n    json: {\n      ...data,\n      replyText: `⚠️ Profile \"${data.otherProfile}\" not found. They need to register first.`\n    }\n  }];\n}\n\nconst now = new Date();\nconst monthNames = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\nconst monthSheet = monthNames[now.getMonth()] + '-' + now.getFullYear();\n\nreturn [\n  {\n    json: {\n      spreadsheetId: data.spreadsheetId,\n      channel: data.channel,\n      userId: data.userId,\n      profileName: data.profileName,\n      sessionId: data.sessionId,\n      monthSheet,\n      Date: data.date,\n      Description: data.description,\n      Category: data.category,\n      Amount: data.selfAmount,\n      Currency: data.currency || 'IDR',\n      'Split With': data.otherProfile,\n      Recurring: '',\n      Notes: 'Split: your share',\n      replyText: data.replyText\n    }\n  },\n  {\n    json: {\n      spreadsheetId: target.json.spreadsheetId,\n      channel: data.channel,\n      userId: data.userId,\n      profileName: data.profileName,\n      sessionId: data.sessionId,\n      monthSheet,\n      Date: data.date,\n      Description: data.description,\n      Category: data.category,\n      Amount: data.otherAmount,\n      Currency: data.currency || 'IDR',\n      'Split With': data.profileName,\n      Recurring: '',\n      Notes: `Split: ${data.otherProfile}'s share`,\n      replyText: data.replyText\n    }\n  }\n];"
      },
      "id": "f350560c-70a4-4869-9847-ed1a884cc8e0",
      "name": "Record Split in Both Sheets",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3968,
        12704
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/{{ encodeURIComponent($json.monthSheet) }}!A1:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"values\": [\n    [\n      {{ JSON.stringify($json.Date || '') }},\n      {{ JSON.stringify($json.Description || '') }},\n      {{ JSON.stringify($json.Category || '') }},\n      {{ $json.Amount || 0 }},\n      {{ JSON.stringify($json.Currency || 'IDR') }},\n      {{ JSON.stringify($json['Split With'] || '') }},\n      {{ JSON.stringify($json.Recurring || '') }},\n      {{ JSON.stringify($json.Notes || '') }}\n    ]\n  ]\n}",
        "options": {}
      },
      "id": "c3651b91-5745-482e-bedb-68f82e28f76e",
      "name": "Record Split Rows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4192,
        12704
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{\n  json: {\n    ...data,\n    replyText: `💡 Expense Tracker Help:\\n\\n📝 Record expense:\\n• \"Lunch 45k\"\\n• \"Rp 150.000 electricity bill\"\\n• Send a receipt photo/PDF\\n\\n💰 Budget:\\n• \"Set food budget 500k\"\\n• \"Check my budget\"\\n\\n📊 Reports:\\n• \"Monthly report\"\\n• \"What did I spend this week?\"\\n\\n🔄 Recurring:\\n• \"Netflix 15k recurring monthly\"\\n• \"List recurring expenses\"\\n\\n👥 Split:\\n• \"Dinner 200k split with @ProfileName\"\\n\\n📋 Merge:\\n• \"Merge report with @ProfileName\"`\n  }\n}];"
      },
      "id": "473f11e4-cbcf-43df-96a4-2be0f86166d0",
      "name": "Format Help Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4192,
        12896
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel ? $json.channel : $('Parse AI Response').item.json.channel }}",
                    "rightValue": "whatsapp",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "1b08b990-45a7-4b13-b402-6a3b89001da3"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel ? $json.channel : $('Parse AI Response').item.json.channel }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "39207da1-9afd-4bef-bd0e-04411dc577bb"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel ? $json.channel : $('Parse AI Response').item.json.channel }}",
                    "rightValue": "webhook",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "37b43640-085b-4768-aae4-78dc5dbb7518"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.channel ? $json.channel : $('Parse AI Response').item.json.channel }}",
                    "rightValue": "chat",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "458ce174-8cc5-4662-af8d-f9d3ecd06cab"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "77626ea3-b5dc-4894-bdb6-845b99f87747",
      "name": "Route Reply to Channel",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4416,
        12576
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v18.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{  $('Update Dashboard Spent').item.json.userId ?  $('Update Dashboard Spent').item.json.userId : $json.userId }}\",\n  \"text\": {\n    \"body\": {{ $('Update Dashboard Spent').item.json.replyText ? $('Update Dashboard Spent').item.json.replyText : $json.replyText }}\n  }\n}",
        "options": {}
      },
      "id": "0191f788-343e-40c8-ba3d-07b64dbb45ef",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4640,
        12320
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.userId ? $json.userId : $('Parse AI Response').item.json.userId }}",
        "text": "={{ $json.replyText ? $json.replyText : $('Parse AI Response').item.json.replyText }}",
        "additionalFields": {}
      },
      "id": "deed9eda-fa8d-4074-90e0-8c0ba93c951a",
      "name": "Send Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4640,
        12512
      ],
      "webhookId": "37ad53db-e853-450e-967e-6de3c3d6c238",
      "credentials": {
        "telegramApi": {
          "id": "ZbU40jBmvjhBVd3d",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, reply: $('Update Dashboard Spent').item.json.replyText ? $('Update Dashboard Spent').item.json.replyText : $json.replyText , data: { intent: $('Update Dashboard Spent').item.json.parsedIntent ? $('Update Dashboard Spent').item.json.parsedIntent : $json.parsedIntent, category: $('Update Dashboard Spent').item.json.category ? $('Update Dashboard Spent').item.json.category : $json.category, amount: $('Update Dashboard Spent').item.json.amount ? $('Update Dashboard Spent').item.json.amount : $json.amount } }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "aac7778e-995a-4cb9-beac-b7af892c7995",
      "name": "Send Webhook Reply",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4640,
        12704
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn [{\n  json: {\n    output: data.replyText || 'Sorry, something went wrong.',\n    sessionId: data.sessionId || data.userId\n  }\n}];"
      },
      "id": "d48108b2-1ad8-4a46-a11d-062dd15634f4",
      "name": "Send Chat Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4640,
        12896
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.first().json;\nreturn [{\n  json: {\n    ...msg,\n    replyText: 'Saving your profile name...',\n    action: 'savingProfileName',\n    state: 'savingProfileName'\n  }\n}];"
      },
      "id": "dda287c7-c44f-497b-8a7c-19574763cd34",
      "name": "Save Profile Name",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        13328
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Trrz1H-KZzkZQzEwLszzsJHhhyCga9PomWeJywCERGA",
          "mode": "list",
          "cachedResultName": "Expense Tracker - Master Registry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Trrz1H-KZzkZQzEwLszzsJHhhyCga9PomWeJywCERGA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Profiles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Trrz1H-KZzkZQzEwLszzsJHhhyCga9PomWeJywCERGA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "profileName": "={{ $json.messageText }}",
            "userId": "={{ $json.userId }}",
            "createdDate": "={{ $json.rawPayload.message.date }}",
            "userName": "={{ $json.userName }}",
            "messageText": "={{ $json.messageText }}",
            "mediaType": "={{ $json.mediaType }}",
            "channel": "={{ $json.channel }}",
            "mediaUrl": "={{ $json.mediaUrl }}",
            "rawPayload": "={{ $json.rawPayload }}",
            "language": "={{ $json.rawPayload.message.from.language_code }}",
            "isNew": "={{ $json.isNew }}",
            "isAwaiting": "={{ $json.isAwaiting }}",
            "profileData": "={{ $json.profileData }}",
            "replyText": "={{ $json.replyText }}",
            "action": "={{ $json.action }}",
            "state": "={{ $json.state }}"
          },
          "matchingColumns": [
            "userId"
          ],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "profileName",
              "displayName": "profileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "spreadsheetId",
              "displayName": "spreadsheetId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "createdDate",
              "displayName": "createdDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageText",
              "displayName": "messageText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mediaUrl",
              "displayName": "mediaUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mediaType",
              "displayName": "mediaType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rawPayload",
              "displayName": "rawPayload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isNew",
              "displayName": "isNew",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isAwaiting",
              "displayName": "isAwaiting",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "profileData",
              "displayName": "profileData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "replyText",
              "displayName": "replyText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        13232
      ],
      "id": "ef1fc52d-b622-4eac-bc8a-8c5c6a345556",
      "name": "Save Awaiting State",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Trrz1H-KZzkZQzEwLszzsJHhhyCga9PomWeJywCERGA",
          "mode": "list",
          "cachedResultName": "Expense Tracker - Master Registry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Trrz1H-KZzkZQzEwLszzsJHhhyCga9PomWeJywCERGA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Profiles",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Trrz1H-KZzkZQzEwLszzsJHhhyCga9PomWeJywCERGA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "userId": "={{ $('Check Awaiting Profile').item.json.userId }}",
            "createdDate": "={{ $now.format(\"yyyy-MM-dd\") }}",
            "userName": "={{ $('Check Awaiting Profile').item.json.profileData.userName }}",
            "messageText": "={{ $('Check Awaiting Profile').item.json.messageText }}",
            "mediaType": "={{ $('Check Awaiting Profile').item.json.mediaType }}",
            "channel": "={{ $('Check Awaiting Profile').item.json.channel }}",
            "mediaUrl": "={{ $('Check Awaiting Profile').item.json.mediaUrl }}",
            "rawPayload": "={{ $('Check Awaiting Profile').item.json.rawPayload }}",
            "language": "={{ $('Check Awaiting Profile').item.json.profileData.language }}",
            "replyText": "=Saving your data, please wait..",
            "state": "={{ $('Check Awaiting Profile').item.json.profileData.state }}",
            "spreadsheetId": "={{ $json.spreadsheetId }}"
          },
          "matchingColumns": [
            "userId"
          ],
          "schema": [
            {
              "id": "userId",
              "displayName": "userId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "profileName",
              "displayName": "profileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "spreadsheetId",
              "displayName": "spreadsheetId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "createdDate",
              "displayName": "createdDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "userName",
              "displayName": "userName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "messageText",
              "displayName": "messageText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mediaUrl",
              "displayName": "mediaUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mediaType",
              "displayName": "mediaType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "channel",
              "displayName": "channel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "rawPayload",
              "displayName": "rawPayload",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "isNew",
              "displayName": "isNew",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "isAwaiting",
              "displayName": "isAwaiting",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "profileData",
              "displayName": "profileData",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "replyText",
              "displayName": "replyText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3968,
        13472
      ],
      "id": "4309037e-d278-4285-9148-1da33ce9b07e",
      "name": "Register User in Master",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/Income!A1:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"values\": [\n    [\n      \"{{ ($json.date || $now.format('yyyy-MM-dd')) + 'T' + $now.format('HH:mm:ss') }}\",\n      \"{{ $json.description || '' }}\",\n      \"{{ $json.source || 'other' }}\",\n      \"{{ $json.amount || 0 }}\",\n      \"{{ $json.currency || 'IDR' }}\",\n      \"{{ $json.recurring ? 'yes' : '' }}\",\n      \"{{ $json.notes || '' }}\",\n      \"{{ $now.format('MMM') }}\",\n      \"{{ $now.format('yyyy') }}\"\n    ]\n  ]\n}",
        "options": {}
      },
      "id": "c5b93ba4-036f-4333-aa17-542447c5b1eb",
      "name": "Record Income Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4192,
        11264
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"requests\": [\n    {\n      \"addSheet\": {\n        \"properties\": {\n          \"title\": \"Income\"\n        }\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "c8d9d12b-de28-49e1-827f-e1dceccd82f6",
      "name": "Setup Income Sheet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3232,
        13760
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/Income!A1:append?valueInputOption=USER_ENTERED",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"values\": [\n    [\n      \"Date\",\n      \"Description\",\n      \"Source\",\n      \"Amount\",\n      \"Currency\",\n      \"Recurring\",\n      \"Notes\",\n      \"Month\",\n      \"Year\"\n    ]\n  ]\n}",
        "options": {}
      },
      "id": "87d3f809-de30-4942-9728-854014104749",
      "name": "Write Income Headers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3520,
        13760
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst data = ctx.values || ctx.dashboardData || ctx.rawSheetData || {};\nreturn [{ json: { budgetData: {\n  userRequest:     ctx.messageText || '',\n  intent:          ctx.parsedIntent || '',\n  profileName:     ctx.profileName || '',\n  period:          ctx.period || 'this month',\n  spreadsheetData: JSON.stringify(data),\n  spreadsheetId:   ctx.spreadsheetId,\n  channel:         ctx.channel,\n  userId:          ctx.userId,\n  sessionId:       ctx.sessionId,\n  rawContext:      ctx\n}} }];"
      },
      "id": "d910ab96-01b8-48e6-b9b8-d5e61e667177",
      "name": "Prepare Budget Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        11520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GROQ_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"temperature\": 0.7,\n  \"max_completion_tokens\": 1024,\n  \"stream\": false,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a personal finance assistant analyzing a user's expense and income data.\\n\\nYou will receive:\\n- userRequest: what the user asked\\n- intent: the action they wanted\\n- spreadsheetData: raw JSON from their Google Sheets\\n- profileName: the user's name\\n- period: the time period\\n\\nYour task:\\n1. Read the spreadsheetData carefully\\n2. Answer the userRequest directly and conversationally in the user's language\\n3. Include specific numbers and percentages where relevant\\n4. Highlight anything notable: overspending, surplus income, categories near budget limit\\n5. Suggest one practical tip if relevant\\n6. Format for messaging: use emoji, short paragraphs, bullet points - NO markdown tables\\n7. Return ONLY the reply text (no JSON, no wrapper)\\n\\nKeep responses concise (under 300 words) but insightful.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"={{ 'User: ' + $json.userRequest + '\\\\n\\\\nProfile: ' + $json.profileName + '\\\\nPeriod: ' + $json.period + '\\\\n\\\\nData:\\\\n' + $json.spreadsheetData }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "2606f249-8d9e-41e6-b686-71447ecc1630",
      "name": "AI Analysis Agent (Budget)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3968,
        13664
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst raw = ctx.choices && ctx.choices[0] ? ctx.choices[0].message.content : (ctx.replyText || 'Analysis unavailable');\nconst orig = ctx.rawContext || {};\nreturn [{ json: { ...orig, replyText: raw } }];"
      },
      "id": "1724114c-5fa2-4448-84c4-90927a5a0192",
      "name": "Extract Budget Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4192,
        13664
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst data = ctx.values || ctx.dashboardData || ctx.rawSheetData || {};\nreturn [{ json: { monthlyData: {\n  userRequest:     ctx.messageText || '',\n  intent:          ctx.parsedIntent || '',\n  profileName:     ctx.profileName || '',\n  period:          ctx.period || 'this month',\n  spreadsheetData: JSON.stringify(data),\n  spreadsheetId:   ctx.spreadsheetId,\n  channel:         ctx.channel,\n  userId:          ctx.userId,\n  sessionId:       ctx.sessionId,\n  rawContext:      ctx\n}} }];"
      },
      "id": "041dce0a-2894-4304-a98d-1a906c298cf8",
      "name": "Prepare Report Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        12416
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst raw = ctx.choices && ctx.choices[0] ? ctx.choices[0].message.content : (ctx.replyText || ctx.output || 'Analysis unavailable');\nconst orig = ctx.rawContext || {};\nreturn [{ json: { ...orig, replyText: raw } }];"
      },
      "id": "ab819b18-3d05-4635-aa49-c4561e94286e",
      "name": "Extract Report Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3520,
        11520
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Check Awaiting Profile').item.json.userId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3264,
        11728
      ],
      "id": "f048f752-93ec-4891-b71b-3207cd649419",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ '\\\\n\\\\nProfile: ' + $('Route by Intent').item.json.profileName + '\\\\nPeriod: ' + $('Route by Intent').item.json.period + '\\\\n\\\\nData for analyze:\\\\n' + JSON.stringify($input.first().json) + '\\\\n\\\\nUser Request:\\\\n' + $('Route by Intent').item.json.messageText }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a personal finance assistant analyzing a user's expense and income data.\\n\\nYou will receive:\\n- User Request: what the user asked\\n- intent: the action they wanted\\n- Data for analyze: raw JSON from their Google Sheets as full raw data that must be you analyze, it include 3 data, budgetData, incomeData, and MonthlyData\\n- profileName: the user's name\\n- period: the time period\\n\\nYour task:\\n1. Read the Data for analyze carefully\\n2. Answer the userRequest directly and conversationally in the user's language\\n3. Include specific numbers and percentages where relevant\\n4. Highlight anything notable: overspending, surplus income, categories near budget limit\\n5. Format for messaging: straightforward, short paragraphs, bullet points, highlight important info with bold text using *text* (depend on {{ $('Check Awaiting Profile').item.json.channel }} to format the replyText) - NO markdown tables\\n6. Return ONLY the replyText object (no JSON, no wrapper)\\n\\nKeep responses concise (under 100 words) but insightful. Please remember to answer based on intent and user request\\n\\n*PLEASE ALWAYS REMEMBER NOW IS {{ $now }} AND TODAY IS {{ $today }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3168,
        11520
      ],
      "id": "b2add42d-a4d7-4934-b215-c53060c9ead0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}/values/Income?majorDimension=ROWS",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "a8258776-3422-4348-afca-9461a548922e",
      "name": "Read Income Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2272,
        11904
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconst data = ctx.values || ctx.dashboardData || ctx.rawSheetData || {};\nreturn [{ json: { incomeData: {\n  userRequest:     ctx.messageText || '',\n  intent:          ctx.parsedIntent || '',\n  profileName:     ctx.profileName || '',\n  period:          ctx.period || 'this month',\n  incomeSpreadsheetData: JSON.stringify(data),\n  spreadsheetId:   ctx.spreadsheetId,\n  channel:         ctx.channel,\n  userId:          ctx.userId,\n  sessionId:       ctx.sessionId,\n  rawContext:      ctx\n}} }];"
      },
      "id": "b9a2bb8a-29a7-4cd0-859c-d06dd59fbb05",
      "name": "Prepare Income Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        11904
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2720,
        11504
      ],
      "id": "ffd48c62-62d2-4ec1-8af4-e4d50bad823f",
      "name": "Merge",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// Combine all 3 items (budgetData, incomeData, monthlyData) into one single item\nconst items = $input.all();\nconst combined = {};\nfor (const item of items) {\n  Object.assign(combined, item.json);\n}\n// Extract shared context fields from the first available data block\nconst rawContext =\n  (combined.budgetData && combined.budgetData.rawContext) ||\n  (combined.incomeData && combined.incomeData.rawContext) ||\n  (combined.monthlyData && combined.monthlyData.rawContext) ||\n  {};\nreturn [{ json: { ...combined, ...rawContext } }];"
      },
      "id": "5bfe61a4-1341-4186-920e-990603418e3d",
      "name": "Combine Report Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        11520
      ]
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.2,
      "position": [
        4864,
        12896
      ],
      "id": "193fa900-bfea-4ac4-bebe-4c73c7053285",
      "name": "Chat",
      "webhookId": "64e78d48-ec13-4e13-a1f3-1a5611b9f6f2",
      "executeOnce": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true,
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -768,
        13968
      ],
      "id": "2991e063-623b-4bfc-a18a-e0331cd98451",
      "name": "When chat message received",
      "webhookId": "59a4fc6e-12b5-41f3-a064-865732315445"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messageText }}",
        "options": {
          "systemMessage": "=You are a multilingual expense tracking assistant. Detect the user's language and ALWAYS respond in that language.\n\nAnalyze the user message and return ONLY valid JSON (no markdown, no backticks, no explanation). Use one of these schemas:\n\nINTENTS:\n1. {\"intent\":\"record_expense\",\"date\":\"YYYY-MM-DD\",\"description\":\"string\",\"amount\":number,\"currency\":\"IDR\",\"category\":\"string\",\"splitWith\":null,\"recurring\":null,\"notes\":\"\",\"replyText\":\"confirmation message\"}\n2. {\"intent\":\"check_budget\",\"category\":null,\"replyText\":\"message asking to check budget\"}\n3. {\"intent\":\"set_budget\",\"category\":\"string\",\"amount\":number,\"currency\":\"IDR\",\"period\":\"monthly\",\"replyText\":\"confirmation message\"}\n4. {\"intent\":\"get_report\",\"period\":\"week|month|year\",\"replyText\":\"message asking for report\"}\n5. {\"intent\":\"split_expense\",\"date\":\"YYYY-MM-DD\",\"description\":\"string\",\"amount\":number,\"currency\":\"IDR\",\"category\":\"string\",\"splitWith\":\"profileName\",\"splitType\":\"equal\",\"replyText\":\"confirmation message\"}\n6. {\"intent\":\"list_recurring\",\"replyText\":\"message\"}\n7. {\"intent\":\"cancel_recurring\",\"description\":\"string\",\"replyText\":\"message\"}\n8. {\"intent\":\"merge_report\",\"profiles\":[],\"period\":\"month\",\"replyText\":\"message\"}\n9. {\"intent\":\"help\",\"replyText\":\"help text in user language\"}\n\n\n10. {\"intent\":\"record_income\",\"amount\":number,\"description\":\"string\",\"source\":\"salary|freelance|investment|business|other\",\"date\":\"YYYY-MM-DD\",\"currency\":\"IDR\",\"recurring\":false,\"notes\":\"\",\"replyText\":\"confirmation message\"}\n11. {\"intent\":\"check_balance\",\"period\":\"this_month|last_month|this_year\",\"replyText\":\"message\"}\nCATEGORIES (use exactly): Makanan & Minuman, Transportasi, Tagihan, Hiburan, Belanja, Kesehatan, Langganan, Lain-lain\n\nRULES:\n- \"k\" suffix = x1000 (45k = 45000), \"rb\" suffix = x1000 (25rb = 25000)\n- \"jt\" or \"juta\" = x1000000 (1.5jt = 1500000)\n- if amount is contain formula please solve first (593341+44000\n=637341), please make sure you calculate right number, because this is financial of the user\n- Default currency: IDR\n- If no date specified, use {{ $now }} datetime without converting to UTC, use as is\n- Auto-detect category from context (food words -> Makanan & Minuman, transport -> Transportasi, etc.)\n- For splits: parse \"@ProfileName\" or \"split with ProfileName\" or \"bagi dengan ProfileName\"\n- For recurring: detect \"berulang\", \"recurring\", \"tiap bulan\", \"every month\", \"bulanan\"\n\n- For income: \"terima gaji\", \"dapat freelance\", \"pendapatan\", \"income\", \"masuk uang\", \"dividen\", \"bayaran\" → use record_income intent, source: salary=gaji, freelance=freelance/proyek, investment=investasi/dividen/saham, business=bisnis/jualan\n- For balance: \"saldo\", \"net balance\", \"cashflow\", \"income vs pengeluaran\", \"berapa sisa\" → use check_balance intent\n- ALWAYS include replyText with a human-friendly confirmation in the user's language \n- Return ONLY the JSON object, nothing else\n\n\\n\\n*PLEASE ALWAYS REMEMBER NOW IS {{ $now }} AND TODAY IS {{ $today }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1472,
        11920
      ],
      "id": "10ff29a6-1490-420a-9d64-97bff286bdfa",
      "name": "AI Agent (Groq)"
    },
    {
      "parameters": {
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -768,
        14272
      ],
      "id": "20078a56-3599-4044-8c3d-11759922ff06",
      "name": "Get Spreadsheet detail",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.spreadsheetId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requests\": [\n    {\n      \"repeatCell\": {\n        \"range\": {\n          \"sheetId\": {{ $json.sheets.find(item => item.properties.title.includes(\"Dashboard\")).properties.sheetId }},\n          \"startRowIndex\": 2,\n          \"endRowIndex\": 9,\n          \"startColumnIndex\": 2,\n          \"endColumnIndex\": 4\n        },\n        \"cell\": {\n          \"userEnteredFormat\": {\n            \"numberFormat\": {\n              \"type\": \"NUMBER\",\n              \"pattern\": \"#,##0\"\n            }\n          }\n        },\n        \"fields\": \"userEnteredFormat.numberFormat\"\n      }\n    }\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -544,
        14272
      ],
      "id": "6a8df140-018c-420d-8157-8c2a41616594",
      "name": "Format Number of Dashboard",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "36FAVfvsRenvGyJc",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3744,
        13456
      ],
      "id": "b083bc0e-9f70-463d-bc8e-a869fe1987f2",
      "name": "Merge1"
    },
    {
      "parameters": {
        "model": "groq/compound",
        "options": {
          "maxTokensToSample": 2048,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1456,
        12112
      ],
      "id": "558bc149-0b5b-4966-80c0-891e81deae8a",
      "name": "Groq Chat Model intent",
      "credentials": {
        "groqApi": {
          "id": "m5NPNO02GxojmMO8",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Check Awaiting Profile').item.json.userId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1584,
        12112
      ],
      "id": "56005b01-e007-4850-b9ef-230f58a0d2a9",
      "name": "Simple Memory intent",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Normalize WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Normalize Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Normalize Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Chat": {
      "main": [
        [
          {
            "node": "Lookup User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize WhatsApp": {
      "main": [
        [
          {
            "node": "Lookup User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Telegram": {
      "main": [
        [
          {
            "node": "Lookup User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Webhook": {
      "main": [
        [
          {
            "node": "Lookup User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup User Profile": {
      "main": [
        [
          {
            "node": "Check Awaiting Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Awaiting Profile": {
      "main": [
        [
          {
            "node": "Route User State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route User State": {
      "main": [
        [
          {
            "node": "Merge User Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask Profile Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Profile Name",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create User Spreadsheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Profile Name": {
      "main": [
        [
          {
            "node": "Save Awaiting State",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create User Spreadsheet": {
      "main": [
        [
          {
            "node": "Setup Dashboard Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Dashboard Headers": {
      "main": [
        [
          {
            "node": "Write Dashboard Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Setup Month Sheet Headers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Setup Income Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Dashboard Data": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Registration Complete": {
      "main": [
        [
          {
            "node": "Route Reply to Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge User Context": {
      "main": [
        [
          {
            "node": "Detect Media Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Media Type": {
      "main": [
        [
          {
            "node": "Get File from Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get File from Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Select Model Provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Model Provider": {
      "main": [
        [
          {
            "node": "AI Agent (OpenAI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent (Ollama)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent (Groq)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (OpenAI)": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Gemini)": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Ollama)": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (OpenAI)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Gemini)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Ollama)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent (OpenAI)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Route by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Intent": {
      "main": [
        [
          {
            "node": "Ensure Month Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Income Row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Budget Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Income Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Month Data for Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Budget Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Budget Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Month Data for Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Income Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Budget Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Split Expense",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Help Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Reply to Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Reply to Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Month Sheet": {
      "main": [
        [
          {
            "node": "Check and Create Month Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check and Create Month Sheet": {
      "main": [
        [
          {
            "node": "Create Month Sheet If Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Month Sheet If Needed": {
      "main": [
        [
          {
            "node": "Create New Month Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Expense Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Month Sheet": {
      "main": [
        [
          {
            "node": "Add Month Sheet Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Month Sheet Headers": {
      "main": [
        [
          {
            "node": "Record Expense Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Expense Row": {
      "main": [
        [
          {
            "node": "Read Dashboard After Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Dashboard After Record": {
      "main": [
        [
          {
            "node": "Update Dashboard Spent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Dashboard Spent": {
      "main": [
        [
          {
            "node": "Write Dashboard Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Dashboard Update": {
      "main": [
        [
          {
            "node": "Route Reply to Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Budget Data": {
      "main": [
        [
          {
            "node": "Prepare Budget Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Budget Reply": {
      "main": [
        [
          {
            "node": "Route Reply to Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Budget Update": {
      "main": [
        [
          {
            "node": "Set Budget Value",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Budget Value": {
      "main": [
        [
          {
            "node": "Format Budget Set Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Budget Set Reply": {
      "main": [
        [
          {
            "node": "Route Reply to Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Month Data for Report": {
      "main": [
        [
          {
            "node": "Prepare Report Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report": {
      "main": [
        [
          {
            "node": "Route Reply to Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Split Expense": {
      "main": [
        [
          {
            "node": "Lookup Split Target Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Split Target Profile": {
      "main": [
        [
          {
            "node": "Record Split in Both Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Split in Both Sheets": {
      "main": [
        [
          {
            "node": "Record Split Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Split Rows": {
      "main": [
        [
          {
            "node": "Route Reply to Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Help Reply": {
      "main": [
        [
          {
            "node": "Route Reply to Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Reply to Channel": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Telegram Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Webhook Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Chat Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Profile Name": {
      "main": [
        [
          {
            "node": "Save Awaiting State",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lookup User Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Awaiting State": {
      "main": [
        [
          {
            "node": "Route Reply to Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register User in Master": {
      "main": [
        [
          {
            "node": "Send Registration Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File from Telegram": {
      "main": [
        [
          {
            "node": "Build Telegram File URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Telegram File URL": {
      "main": [
        [
          {
            "node": "Groq Vision + Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Vision + Intent": {
      "main": [
        [
          {
            "node": "Extract Groq Vision Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Groq Vision Output": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Record Income Row": {
      "main": [
        [
          {
            "node": "Route Reply to Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Income Sheet": {
      "main": [
        [
          {
            "node": "Write Income Headers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Income Headers": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Prepare Budget Analysis": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analysis Agent (Budget)": {
      "main": [
        [
          {
            "node": "Extract Budget Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Budget Analysis": {
      "main": [
        [
          {
            "node": "Route Reply to Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Report Analysis": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Extract Report Analysis": {
      "main": [
        [
          {
            "node": "Route Reply to Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extract Report Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Income Data": {
      "main": [
        [
          {
            "node": "Prepare Income Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Income Analysis": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Combine Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Report Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Chat Reply": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Normalize Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Groq)": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Spreadsheet detail": {
      "main": [
        [
          {
            "node": "Format Number of Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Number of Dashboard": {
      "main": [
        []
      ]
    },
    "Setup Month Sheet Headers": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Register User in Master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model intent": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Groq)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory intent": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (Groq)",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "03e0bd48-f128-48c9-99ea-3a52115efac2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "707092ed3a35ea3f554e1be6a66295e3800621eff6a827de689cbe34c6f5a4c8"
  },
  "id": "HvKl5W8kbq9B4I9D",
  "tags": [
    {
      "updatedAt": "2026-03-09T05:12:56.037Z",
      "createdAt": "2026-03-09T05:12:56.037Z",
      "id": "1zazyEDiPTzAhqgF",
      "name": "ai-powered"
    },
    {
      "updatedAt": "2026-03-09T05:12:56.063Z",
      "createdAt": "2026-03-09T05:12:56.063Z",
      "id": "4ZC8xZAmvLj4r1xf",
      "name": "multi-channel"
    },
    {
      "updatedAt": "2026-03-09T05:12:55.961Z",
      "createdAt": "2026-03-09T05:12:55.961Z",
      "id": "clu4FYs5BYikZETz",
      "name": "expense-tracker"
    }
  ]
}